* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sulphur Point", sans-serif;
  height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: -1px -1px 30px 0px rgba(0,0,0,0.5);
    background: white;
    align-items: center;
}

.box-text {
  display: flex;
  flex-direction: column;
}

.box-text > p {
  border-bottom: 4px solid transparent;
}

.box-text > p:hover {
  border-bottom: 4px solid #dcffd1;
}

.box-text > h1 {
  align-self: center;
}

p > span {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd1dc;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  transition: background-color 0.1s ease-in;
}

button:hover {
  background: #dcffd1;
}
